<div class="flex justify-content-between">
  <p-dataView #dv [value]="products">
    <ng-template pTemplate="list" let-products>
      <div class="grid grid-nogutter">
        <div
          class="col-12"
          *ngFor="let item of products; let first = first"
          class="col-12"
        >
          <div
            class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3"
            [ngClass]="{ 'border-top-1 surface-border': !first }"
          >
            <div class="md:w-10rem relative">
              <img
                class="block xl:block mx-auto border-round w-full"
                [src]="'assets/images/' + item.productInfo.image_path"
                [alt]="item.productInfo.name"
              />
            </div>
            <div
              class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4"
            >
              <div
                class="flex flex-row md:flex-column justify-content-between align-items-start gap-2"
              >
                <div class="text-lg font-medium text-900 mt-2">
                  {{ item.productInfo.name }}
                </div>
              </div>
              <div class="flex flex-column md:align-items-end gap-5">
                <span class="text-xl font-semibold text-900"
                  >{{ "$" + item.productInfo.price }} x {{ item.amount }}</span
                >
                <div class="flex flex-row-reverse md:flex-row gap-2">
                  <p-button
                    icon="pi pi-times"
                    class="flex-auto md:flex-initial white-space-nowrap no-underline"
                    label="移除"
                    severity="danger"
                  ></p-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>

  <p-card header="結帳明細" class="w-20rem">
    <div *ngFor="let item of products" class="flex justify-content-between">
      <div>{{ item.productInfo?.name }}</div>
      <div>{{ item.productInfo?.price }} x {{ item.amount }}</div>
      <div>{{ (item.productInfo?.price ?? 0) * item.amount }}</div>
    </div>
    <p-divider></p-divider>
    <div class="flex justify-content-between font-bold text-xl">
      <div>總共</div>
      <div>{{ total }}</div>
    </div>
    <div class="mt-5 flex justify-content-end">
      <p-button
        label="結帳"
        severity="success"
        icon="pi pi-money-bill"
        (onClick)="checkout()"
      ></p-button>
    </div>
  </p-card>
</div>
